.fb--chat__icon {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  background: #1182FC;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-50deg);
  transition: all 160ms ease-in-out;
  cursor: pointer;
}
.fb--chat__icon svg {
  transition: opacity 160ms ease-in-out;
}
.fb--chat__icon svg#close-icon {
  width: 19px;
  height: 19px;
  top: 21px;
  left: 21px;
  opacity: 0;
  position: absolute;
}
.fb--chat__icon svg#fb-msng-icon {
  width: 30px;
  height: 30px;
  transform: rotate(50deg);
  transition: opacity 160ms ease-in-out;
  opacity: 1;
}
.fb--chat__icon.fb-chat-btn__opend svg#close-icon {
  opacity: 1;
}
.fb--chat__icon.fb-chat-btn__opend svg#fb-msng-icon {
  opacity: 0;
}

.fb-chat-btn__opend {
  transform: rotate(0deg);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 32px rgba(0, 0, 0, 0.26);
}

.fb-chat {
  max-width: 300px;
  height: 350px;
  border-radius: 10px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  transform: translateY(50px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
}
.fb-chat--close {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 15px;
  cursor: pointer;
}
.fb-chat__opend {
  pointer-events: all;
  transform: translateY(0px);
  opacity: 1;
}
.fb-chat--header {
  height: 50px;
  background: #1182FC;
  padding: 0px 0px 0px 40px;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  position: relative;
}
.fb-chat iframe {
  border: none;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.fb-chat--text svg {
  height: 20px;
  width: 20px;
  left: 10px;
  top: 14px;
  position: absolute;
}
